

<mat-sidenav-container fullscreen [hasBackdrop]="false">
  <!-- sidenav -->
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon mat-list-icon></mat-icon>
      </button>
    </mat-toolbar>

    <!-- listado -->
    <mat-nav-list>

      <a  routerLink="./pictDay"
          mat-list-item>
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Picture of the day</span>
      </a>

      <a  routerLink="./pictRandom"
          mat-list-item>
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Random Pictures</span>
      </a>

      <a  routerLink="./pictDate"
          mat-list-item>
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Picture by date</span>
      </a>

      <a  routerLink="./library"
          mat-list-item>
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Library</span>
      </a>



    </mat-nav-list>

  </mat-sidenav>

  <!-- no sidenav -->
  <mat-toolbar>
    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button>
      logout
    </button>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
